.content{
	width: 640px;
	height: 640px;
	margin: 100px auto;
	position: relative;
}
.btn{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 2;
}
.btn button{
	background: none;
	border: none;
	background-size: 100% 100%;

	cursor: pointer;
	outline: none;

	position: absolute;
	left: 50%;
	top: 50%;
}

.startBtn button{
	width: 200px;
	height: 80px;
	background-image: url(../images/startGame.png);
	margin-left: -100px;
	margin-top: -40px;
}

.pauseBtn{
	display: none;
}
.pauseBtn button{
	width: 70px;
	height: 70px;
	background-image: url(../images/start.png);
	margin-left: -35px;
	margin-top: -35px;
}

/* snakeWrap */
#snakeWrap{
	width: 600px;
	height: 600px;
	background: #225675;
	border: 20px solid #7dd9ff;
	position: relative;
}

.snakeHead{
	background-image: url(../images/snake.png);
	background-size: cover;
}
.snakeBody{
	background-color: #9ddbb1;
	border-radius: 50%;
}
.food{
	background-image: url(../images/food.png);
	background-size: cover; 
}
