.fs-1 {
    width: 190px;
    height: 470px;
    float: left;
    margin-right: 10px;
    position: relative;
}

.fs-1 .fs-menu {
   background-color: #fff;
   box-sizing: border-box;
   height: 470px;
   margin-top: 10px;
   padding-top: 10px;
   position: relative;
}
.fs-1 .fs-menu li{
    height: 25px;
    line-height: 25px;
    padding-left: 18px;
    overflow: hidden;
}
.fs-1 .fs-menu .cate_menu_lk {
    color: #333;
    font-size: 14px;
}
.fs-1 .fs-menu li.cate_menu_on {
    background-color: #d9d9d9;
}
.fs-1 .cate_menu_content {
    width: 998px;
    position: absolute;
    left: 190px;
    top: 10px;
    min-height: 310px;
    z-index: 100;
    min-height: 468px;
    border: 1px solid #f7f7f7;
    background-color: #fff;
    -webkit-box-shadow: 2px 0 5px rgba(0,0,0,.3);
    box-shadow: 2px 0 5px rgba(0,0,0,.3);
    padding: 20px 0 10px;
    display: none;
}
.cate_channel {
    padding-left: 20px;
    height: 24px;
}
.cate_channel_lk {
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #333;
    line-height: 24px;
    color: #fff;
}
.fs-2 {
    padding-top: 10px;
    width: 790px;
    height: 470px;
    float: left;
}
.fs-3 {
    width: 190px;
    height: 470px;
    background-color: #fff;
    float: right;
    margin-top: 10px;
}
.sliderBannerWrapper {
    width: 590px;
    height: 470px;
    margin-right: 10px;
    float: left;
}
.sliderRecommendWrapper {
    width: 190px;
    height: 470px;
    float: left;
    overflow: hidden;
}

.focus-item__core {
    display: inline-block;
    margin-right: 10px;
    width: 590px;
    height: 470px;
}
.focus-item__core .focus-item-img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.focus-item__recommend {
    width: 190px;
    vertical-align: top;
    display: inline-block;
    height: 470px;
  }
  .focus-item__recommend .recommend-item {
    height: 150px;
    display: block;
    margin-bottom: 10px;
  }
  .focus-item__recommend .recommend-item__image {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .cate_detail {
    overflow: hidden;
    padding: 10px 0 0 20px;
}

  .cate_detail_item {
    position: relative;
    padding-left: 80px;
}
.cate_detail_tit {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 6px;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cate_detail_tit_lk {
    color: #333;
    font-weight: 700;
}
.cate_detail_con_lk {
    margin: 3px 0;
    padding: 0 7px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
}
.cate_detail_con {
    overflow: hidden;
    padding: 5px 0;
}


.user{
    height: 102px;
    background: #fff;
    position: relative;
}
.news {
    overflow: hidden;
    height: 130px;
    background: #fff;
}

.user .user_avatar {
    position: absolute;
    left: 20px;
    top: 13px;
    width: 44px;
    height: 44px;
   
}

.user .user_avatar_lk {
    display: block;
    width: 40px;
    height: 40px;

}
.user .user_avatar_lk img {
    display: block;
    width: 40px;
    height: 40px;    
    border: 2px solid #fff;
    border-radius: 50%;
}
.user_show {
    position: absolute;
    top: 16px;
    left: 74px;
    right: 10px;
}
.user_show p {
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}

.user .user_profit {
    height: 25px;
    font-size: 0;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.user .user_profit_lk {
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    border-radius: 13px;
    background: #e1251b;
}
.user .user_profit_lk_plus {
    background: #363634;
    color: #e5d790;
}
.user::after {
    position: absolute;
    height: 1px;
    left: 15px;
    right: 15px;
    background: -webkit-gradient(linear,right top,left top,from(white),color-stop(#eeeeee),color-stop(#eeeeee),to(white));
    background: linear-gradient(270deg,white,#eeeeee,#eeeeee,white);
    content: " ";
    bottom: 0;
}

.news2 .news_hd, .news .news_hd {
    height: 20px;
    padding: 10px 0 0;
    position: relative;
    line-height: 20px;
    font-size: 0;
    margin-bottom: 8px;
}

.news .news-hd{
    height: 20px;
    padding: 10px 0 0;
    position: relative;
    line-height: 20px;
    font-size: 0;
    margin-bottom: 8px;
}
.news .news-hd .news_tit {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    color: #333;
}

.news .news-hd .news_more {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 12px;
    color: #999;
}

.news .news_list {
    position: relative;
    margin: 0 15px;
    height: 88px;
}
.news .news_item {
    max-width: 160px;
    width: 160px;
    height: 16px;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #999;
    margin-bottom: 6px;
}
.news_tag {
    display: inline-block;
    position: relative;
    font-size: 12px;
    height: 16px;
    width: 35px;
    line-height: 16px;
    text-align: center;
    vertical-align: 0;
    color: #e1251b;
    background-color: rgba(225,37,27,.08);
    margin-right: 6px;
}

.service {
    position: relative;
    height: 238px;
    overflow: hidden;
}

.service_entry {
    /* overflow: hidden; */
    padding: 5px .5px;
    /* background: #fff; */
}
.service_list {
    margin-top: 5px;
    height: 225px;
    overflow: hidden;
}

.service_item {
    /* position: relative; */
    float: left;
    width: 63px;
    height: 55px;
    /* background: #fff; */
    text-align: center;
    /* overflow: hidden; */
}

.service_item:hover .service_ico_img_hover {
    visibility: visible;
    opacity: 1;
}

.service_lk {
    display: block;
    position: relative;
    transition: all .2s linear;
    background-color: #fff;
}
.service_ico {
    display: block;
    position: relative;
    width: 28px;
    height: 28px;
    margin: 0 auto;
}
.service_ico_img, .service_ico_img_hover {
    width: 28px;
    height: 28px;
}
.service_ico_img_hover {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.service_corner {
    position: absolute;
    right: 5px;
    top: 0;
    width: 14px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background: #e1251b;
    color: #fff;
    z-index: 1;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    font-style: normal;
}

.service_pop {
    position: absolute;
    width: 100%;
    height: 206px;
    background-color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    top: 232px;
    z-index: 1000;
}
.service_item.service_frame_on .service_lk span {
    position: relative;
    color: #e1251b;
}
.service_item.service_frame_on .service_lk span::after{
    content: "";
    position: absolute;
    bottom: -5px;
    width: 24px;
    background-color: #e1251b;
    height: 2px;
    left: 0;
}
.service_pop_close {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    bottom: 12px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    border-radius: 50%;
}
.service_pop_close:hover {
    background-color: #c81623;
    color: #fff;
}