.header-content {
    position: relative;
    height: 100%;
}
.logo {
    width: 190px;
    height: 120px;
    position: absolute;
    top: 50%;
    margin-top: -60px;
}
.logo_tit_lk {
    background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/header/sprite.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 190px;
    height: 120px;
    font-size: 0;
}
.logo_hover_lk {
    background-image: url('https://img1.360buyimg.com/da/jfs/t1/27184/40/11459/180833/5c90a88eEb8918da7/c3b923b1b7643da4.gif?v=0.075937299749294421');
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 134px;
    height: 120px;
    font-size: 0;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 28px;
    display: none;
}
a:hover {
    color: #c81623 !important;
}

.search {
    padding-left: 200px;
}
.search-box{
    position: relative;
    top: 25px;
    left: 60px;
    width: 546px;
    font-size: 0;
    border: 2px solid #e2231a;;
}
#search-text {
    padding: 2px 44px 2px 17px;
    width: 425px;
    height: 26px;
    border: 1px solid transparent;
    line-height: 26px;
    font-size: 12px;
    outline: none;
}

#search-btn {
    width: 58px;
    height: 32px;
    line-height: 32px;
    border: none;
    background-color: #e1251b;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    vertical-align: bottom;
}
.photo-search-btn {
    position: absolute;
    right: 75px;
    font-size: 16px;
    top: 8px;
    cursor: pointer;
}
.search-results {
    position: absolute;
    top: 36px;
    font-size: 12px;
    width: 488px;
    left: -2px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 100;
    display: none;
}

.search-results li {
    padding: 1px 6px;
    line-height: 24px;
    color: #666;
}
.search-results li a {
    color: #666;
}
.search-results li .product-number {
    float: right;
    color: #aaa;
}
.search-results li:hover {
    background: #f5f5f5!important;
}

.hotwords {
    position: relative;
    top: 30px;
    left: 60px;
    width: 550px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.hotwords a {
    margin-right: 10px;
    white-space: nowrap;
}


.navitems {
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    position: absolute;
    bottom: 0;
}

.navitems a {
    margin: 0 12px;
}
.navitems a.red {
    font-weight: 700;
    color: #e1251b;
}