body {
    margin: 0;
    font-size: 12px;
    background-color: #f4f4f4;
    /* overflow: hidden; */
}
a {
    text-decoration: none;
    color: #999;
}
ul, li, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    list-style: none;
}
i {
    font-style: normal;
}
.shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
    height: 30px;
}
.header {
    background: #fff;
    height: 140px;
    border-bottom: 1px solid #ddd;
}

.fs {
    height: 480px;
    margin-bottom: 30px;
}

.seckill {
    height: 260px;
}

.w {
    width: 1190px;
    margin: 0 auto;
    height: 100%;
    /* visibility: hidden; */
}

@font-face {
    font-family: 'indexIconfont';  /* project id 2289209 */
    src: url('//at.alicdn.com/t/font_2289209_cvlzvqx006.eot');
    src: url('//at.alicdn.com/t/font_2289209_cvlzvqx006.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2289209_cvlzvqx006.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2289209_cvlzvqx006.woff') format('woff'),
    url('//at.alicdn.com/t/font_2289209_cvlzvqx006.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2289209_cvlzvqx006.svg#iconfont') format('svg');
}
.index-iconfont {
    font-family: 'indexIconfont';
    font-size: 12px;
    font-style: normal;
}
.cate_channel_arrow {

}