.banner-container {
    position: relative;
}

.banner-container .img-container {
    overflow: hidden;
    padding-bottom: 47%;
    position: relative;
}

.banner-container .img-container>img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1);
    opacity: 0;
}

.banner-container .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    cursor: pointer;
    opacity: 1;
    transition: all .2s linear;
    z-index: 2;
}

.banner-container .arrow:hover {
    opacity: 1;
}

.banner-container .arrow-right {
    left: auto;
    right: 20px;
}

.banner-container .nav-icon-container {
    position: absolute;
    bottom: 38px;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.banner-container .nav-icon-list {
    width: 27px;
    height: 24px;
    margin: 0 5px;
    cursor: pointer;
    background: url(../img/banner/banner_dian2.png) no-repeat left center;
}

.banner-container .nav-icon-list.active {
    background-position-x: -27px;
}