.rotary_box{
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    background:#000;
    opacity: 0.6;
    filter: alpha(opacity=50);
    z-index:2147483646;
    display: none;
}
.rotary_fuzhu{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    position:absolute;
    left:0;
    top:0;
    cursor: pointer;
    z-index:2147483646;
    display: none;
}
.rotary_wrap{
    width:587px;
    height:600px;
    background-image: url(../images/rotary_wrap.png);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    z-index:2147483647;
    display: none;
}
.rotary_wrap .looper_close{
    width:22px;
    height:22px;
    background-image:url(../images/close.png);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    right:0;
    top:0;
    cursor: pointer;
}
.rotaryArrow{
    width: 135px;
    height:180px;
    background-image: url(../images/start.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    position:absolute;
    left: 226px;
    top: 269px;
    cursor: pointer;
}
.result {
    width: 450px;
    height: 350px;
    background: rgba(0,0,0,0.75);
    border-radius: 3px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
.result .top_rotary {
    width: 100%;
    height:28px;
    overflow: hidden;
}
.result a{
    display: block;
    width: 16px;
    height: 22px;
    text-align: center;
    float: right;
    color: #fff;
    margin:8px;
}
.result .form {
    width: 86%;
    margin: 10px auto;
    height: 420px;
}
.result .rotary_title{
    font-size: 18px;
    color:#fff;
    text-align: center;
}
.result .form .input {
    width: 96%;
    margin: 20px auto;
    height: 40px;
    text-align: center;
}
.result .form .input span {
    display: block;
    width: 15%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    color: #DE5044;
    float: left;
}
.result .form .input .inp {
    width: 78%;
    height: 28px;
    border-radius: 5px;
    margin-top: 5px;
    padding-left: 1%;
    border: 0;
    background: #FFF;
    float: left;
}
.result .form .input .submit {
    width: 150px;
    height: 28px;
    border: 0;
    padding:0;
    border-radius: 5px;
    background: #1CA261;
    color: #FFF;
    margin: 0 auto;
}
