@import "reset.css";
@import "common.css";

/* 统一设置 */
a {
    color: #41ac52;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    border: 1px solid #e4e6e5;
    box-sizing: border-box;
    height: 34px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: 13px;
}

/* 
    更多的缩进
*/
input[type="text"].more-text-indent {
    padding-left: 60px;
}

/* 统一设置结束 */

.container {
    width: 300px;
    height: 300px;
    line-height: 2;
    /* padding: 30px 10px 10px 10px; */
    padding: 10px;
    padding-top: 30px;
    color: #9b9b9b;
    box-sizing: border-box;
    position: relative;
}

.container .login .switch-menu {
    border-bottom: 1px solid #ececec;
    font-size: 13px;
}

.container .login .switch-menu span {
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.container .login .switch-menu span.selected {
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #494949;
    margin-bottom: -1px;
}

.container .login .form .form-item {
    margin: 10px 0;
    position: relative;
    font-size: 13px;
}

.container .login .form .form-item .txt {
    font-size: 12px;
}

.country-code {
    position: absolute;
    width: 51px;
    height: 26px;
    left: 0;
    top: 5px;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    border-right: 1px solid #e4e6e5;
    cursor: pointer;
}

.country-code .choose-area {
    /* 铺满整个视口，背景为半透明的白色 */
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    left: 0;
    top: 0;
    z-index: 1;
}

.country-code .choose-area .center {
    width: 285px;
    height: 225px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #bbb;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    cursor: auto;
    overflow: hidden;
}

.country-code .choose-area .center .title {
    background: #ebf5eb;
    height: 42px;
    line-height: 42px;
    text-align: left;
    padding-left: 10px;
    color: #060;
    font-weight: bold;
}

.country-code .choose-area .center ul {
    height: 180px;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.country-code .choose-area .center ul li {
    height: 38px;
    line-height: 38px;
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
}

.country-code .choose-area .center ul li:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.country-code .choose-area .center ul li .right {
    color: #aaa;
    font-weight: normal;
}

.country-code .choose-area .center ul li.selected {
    color: #42bd56;
}

.country-code .choose-area .center ul li.selected .right {
    color: inherit;
}

.country-code .choose-area .center ul li.selected .iconfont {
    margin-left: 10px;
}

.container .form-item .ab-right {
    position: absolute;
    right: 7px;
    top: 5px;
}

.container .form-item .btn {
    width: 100%;
    height: 34px;
    font-size: 15px;
}

.container .login .form .form-item.tip {
    font-size: 12px;
    color: #333;
}

.container .login .bottom {
    border-top: 1px solid #ddd;
}

.container .login .bottom .msg {
    font-size: 11px;
    vertical-align: 2px;
}

.container .login .bottom .iconfont {
    margin-left: 12px;
}

.container .login .bottom .iconfont.iconweixin {
    color: #34950E;
}

.container .login .bottom .iconfont.iconweibo {
    color: #EA5D5C;
}

.container .qrcode {
    font-size: 13px;
}

.container .qrcode .title {
    color: #333;
    border-bottom: 1px solid #ececec;
}

.container .qrcode .code{
    text-align: center;
    font-size: 0;
    margin-top:20px;
}

.container .qrcode .code img{
    width: 170px;
    height: 170px;
}

.container .qrcode .tip{
    width: 183px;
    height: 25px;
    line-height: 25px;
    background: rgba(0,0,0,.08);
    color: #494949;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
}

.container .change{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
}

.container .change .icon{
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
}

.container .change .icon.icon-qrcode{
    background: url("../img/icon-qrcode.png") no-repeat left top/100% 100%;
}

.container .change .icon.icon-pc{
    background: url("../img/icon-pc.png") no-repeat left top/100% 100%;
}

.container .change:hover+.pointer{
    display: block;
}

.container .pointer{
    position: absolute;
    height: 28px;
    line-height: 28px;
    border: 1px solid rgba(66,189,86,.3);
    color: #666;
    font-size: 13px;
    background: #f5faf9;
    right: 50px;
    top: 10px;
    padding: 0 5px;
    border-radius: 4px;
}