* {
    margin: 0;
    padding: 0;
}

.main-wp {
    display: block;
    width: 550px;
    margin: 30px auto 80px;
}

label {
    width: 100px;
    text-align: left;
    font-size: 16px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    box-sizing: border-box;
}

input {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    width: 100%;
}

.save-btn {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    float: right;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.table {
    width: 820px;
    margin: 20px auto;
    border-collapse: collapse;
    border: none;
}

thead {
    color: #909399;
    font-weight: 500;
}

th,
td {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ebeef5;
    color: #888;
}

.delete-btn {
    color: #e6a23c;
    cursor: pointer;
}

.update-btn {
    color: #409eff;
    cursor: pointer;
}

h2 {
    margin: 20px;
    border-bottom: 1px solid #ccc;
}