/* 外层容器样式 */
.container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #eee;
  position: relative;
}

/* 图片样式 */
.container img {
  position: absolute;
  transition: all 0.5s;
  width: 220px;
}
