   * {
       margin: 0px;
       padding: 0px;
   }
   
   body {
       background: #000000;
   }
   
   .container {
       width: 600px;
       height: 400px;
       border: 1px solid #000;
       margin: 150px auto 0;
       background: url("../images/1.jpg");
   }
   
   .con {
       width: 490px;
       height: 160px;
       /* background: #000; */
       margin: 100px auto;
       /* box-shadow: 0px 0px 10px #000; */
       padding-top: 40px;
       padding-left: 40px;
   }
   
   .con .time-item {
       color: #fff;
       width: 65px;
       height: 120px;
       float: left;
       overflow: hidden;
   }
   
   .time-item ul {
       position: relative;
       /* transition: all .5s linear; */
       font-size: 0;
       top: 0px;
   }
   
   .con .time {
       width: 30px;
       text-align: center;
       line-height: 120px;
       font-weight: bold;
       float: left;
       color: #fff;
   }
   
   p {
       color: #fff;
       margin-top: -30px;
       font-weight: bold;
       font-size: 22px;
   }