html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 0.3rem;
}
.g-btn {
  display: inline-block;
  border: none;
  outline: none;
  height: 1.06rem;
  padding: 0 0.26rem;
  background: url(../assets/btn-left.png) no-repeat left top / 0.28rem 1.06rem, url(../assets/btn-right.png) no-repeat right top / 0.28rem 1.06rem, url(../assets/btn-mid.png) repeat-x left top / 0.05rem 1.06rem content-box;
  line-height: 1rem;
  text-align: center;
  color: #fae0bb;
  white-space: nowrap;
  font-weight: bold;
  min-width: 2rem;
  box-sizing: border-box;
  font-size: 0.3rem;
  position: relative;
}
.g-btn::before {
  content: "";
  position: absolute;
  height: 0.1rem;
  left: 0.25rem;
  right: 0.25rem;
  top: 0.75rem;
  box-shadow: 0 0.22rem 0.15rem #000;
}
.g-letter-bg {
  background: url(../assets/letter-edge.png) repeat-x left top / 1.2rem 0.67rem, url(../assets/water-line.png) no-repeat right top / 1.78rem 1.49rem, url(../assets/letter-bg.png) left top / 7.5rem 0.8rem;
}
.g-tape {
  width: 4.47rem;
  height: 2.96rem;
  background: url(../assets/tape.png) no-repeat left top / 100% 100%;
  position: relative;
}
.g-tape::before,
.g-tape::after {
  content: "";
  position: absolute;
  width: 0.65rem;
  height: 0.65rem;
  background: url(../assets/tape-inner.png) no-repeat left top / 100% 100%;
  top: 0.97rem;
}
.g-tape::before {
  left: 1.029rem;
}
.g-tape::after {
  right: 1.029rem;
}
.g-tape.playing::before,
.g-tape.playing::after {
  animation: playing linear 1.5s infinite;
}
@keyframes playing {
  100% {
    transform: rotate(360deg);
  }
}
.g-modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.g-paper {
  width: 4.54rem;
  padding: 0.22rem 0;
  background: url(../assets/paper-mid.png) repeat-y left top / 4.54rem 0.05rem content-box, url(../assets/paper-top.png) no-repeat left top / 4.54rem 0.25rem padding-box, url(../assets/paper-bottom.png) no-repeat left bottom / 4.54rem 0.25rem padding-box;
  font-size: 0.3rem;
}
.g-seal {
  width: 1.03rem;
  height: 1.17rem;
  background: url(../assets/seal.png) no-repeat left top / 100% 100%;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  margin-left: -0.515rem;
}
.g-loading {
  width: 3.5rem;
  height: 3.5rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.g-loading img {
  width: 1rem;
  height: 1rem;
}
