@font-face {
    font-family: 'iconfont';  /* project id 2284273 */
    src: url('http://at.alicdn.com/t/font_2284273_0jpx02zt4id6.eot');
    src: url('http://at.alicdn.com/t/font_2284273_0jpx02zt4id6.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_2284273_0jpx02zt4id6.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_2284273_0jpx02zt4id6.woff') format('woff'),
    url('http://at.alicdn.com/t/font_2284273_0jpx02zt4id6.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_2284273_0jpx02zt4id6.svg#iconfont') format('svg');
  }

.my-swiper-btn {
    font-family: iconfont;
    position: absolute;
    top: 50%;
    width: 25px;
    height: 35px;
    line-height: 35px;
    margin-top: -17.5px;
    background-color: rgba(0,0,0,.15);
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 12px;
    cursor: pointer;
}

.my-swiper-btn:hover {
    background-color: rgba(0,0,0,.4);
}
.my-swiper-btn.my-swiper-rbtn {
    right: -3px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}
.my-swiper-btn.my-swiper-lbtn {
    left: -3px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.my-swiper-wrapper {
    overflow: hidden;
    position: relative;
}
.my-swiper-wrapper > ul {
    padding: 0;
    margin: 0;
}
.my-swiper-wrapper > ul > li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.my-swiper-animate .my-swiper-content {
    position: absolute;
    left: 0;
}
.my-swiper-animate .my-swiper-content::after {
    content: '';
    display: block;
    clear: both;
}
.my-swiper-animate .my-swiper-item {
    float: left;
}
.my-swiper-fade .my-swiper-content {
    position: relative;
}
.my-swiper-fade .my-swiper-item {
    position: absolute;
}
.my-swiper-spots {
    position: absolute;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    padding: 10px 20px;
    left: 0;
    right: 0;
}
.my-swiper-spots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.4);
    margin: 0 2px;
    cursor: pointer;
}
.my-swiper-spots span.my-swiper-current {
    background-color: #fff;
}