* {
  padding: 0;
  margin: 0;
}

.video-list {
  width: 864px;
  height: 404px;
}

.video {
  float: left;
  width: 206px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 24px;
}

.poster {
  position: relative;
  width: 100%;
  height: 116px;
}

.poster img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.poster .video-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 14px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
}

.poster .video-info > div {
  display: inline-block;
  background-repeat: no-repeat;
  padding-left: 22px;
  background-position-y: center;
  margin-right: 10px;
}

.poster .video-info .play {
  background-image: url('./img/play.png');
}

.poster .video-info .likes {
  background-image: url('./img/likes.png');
}

.poster .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 2060px;
  cursor: pointer;
  display: none;
}

.poster:hover .mask {
  display: block;
}

.poster .mask .line {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #000;
}

.poster .mask .line .bottom,
.poster .mask .line .top {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 196px;
  height: 2px;
  margin-top: -1px;
  background-color: #444;
}

.poster .mask .line .top {
  width: 0px;
  background-color: #fff;
  transition: width .2s;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 20px;
  height: 40px;
  margin-top: 10px;
  font-size: 14px;
}

.up {
  margin-top: 10px;
  color: #999;
  font-size: 12px;
}